<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="tech.ulo" split="config.arm64_v8a">
    <application android:extractNativeLibs="true" android:hasCode="false">
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="3"/>
    </application>
</manifest>
